.falldown-main
{
    display: flex;
}

.falldown-label, .falldown-selection
{
    cursor: pointer;
}

.falldown-label
{
    margin-right: 0.5em;
}

.falldown-label:empty
{
    margin: 0;
}

.falldown-box
{
    position: absolute;
    border: 1px solid black;
    background: white;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.25);
    padding: 1rem;
    display: none;
    width: fit-content;
    white-space: nowrap;
    z-index: 2;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.falldown-select
{
    color: white;
    background: black;
}

.falldown-arrow
{
    margin-left: 0.5rem;
    display: inline-block;
    user-select: none;
    align-self: center;
}

.falldown-option
{
    cursor: pointer;
}

.falldown-cursor
{
    background: rgba(0,0,0,0.5);
    color: white;
}

.falldown-selected
{
    display: inline-block;
    white-space: nowrap;
}

.falldown-selection
{
    border: 1px dotted black;
    position: relative;
    display: flex;
}

.falldown-selection:focus
{
    outline: none;
}

.falldown-focus
{
    border: 1px solid black;
}